/*/////////////////////////*/
/*    TABLE OF CONTENTS    */
/*/////////////////////////*/

/*Global Styles: 16-24 */
/*Navigation Styling: 26-54*/
/*Fixed-icons Styling: 55-86*/
/*Materialize Margin resets: 87-121 */
/*About Section: 122-134*/
/*Portfolio: 135-151*/
/*Media Queries (portfolio): 152-188*/
/*Contact Section: 189-198*/
/*Footer Section: 199-211*/
/*Media Queries (navigation): 212-218*/

/*Global Styles*/
body{
  text-align: center;
}

a:hover{
  opacity: .7;
}

.row {
  margin: 0;
  padding: 2em;
  overflow: auto;
}

/*Navigation Styling*/
.top-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 1em;
  -webkit-box-shadow: 0 0 1.5em 1em #a2c5ef;
    -moz-box-shadow: 0 0 1.5em 1em #a2c5ef;
        box-shadow: 0 0 1.5em 1em #a2c5ef;
  -webkit-transition: height 1s;
    -moz-transition: height 1s;
     -ms-transition: height 1s;
      -o-transition: height 1s;
       transition: height 1s;
}

.top-header.shrink {
  height: 5em;
}

.top-header.shrink div.nav-bar{
  padding: 0;
}

.top-header.shrink div > div.navbar-wrapper{
  text-align: left;
}

.top-header h3{
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.top-header.shrink h3 {
  text-align: left;
  font-size: 1.5em;
  padding: 0;
  margin: .5em;
  display: inline-block;
}

.top-header.shrink div > div.navbar-wrapper ul{
  display: inline-block;
  padding: 0;
  margin-top: 0;
}

.nav-bar li a{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
}

.navbar-wrapper ul li{
  display: inline-block;
  padding: .5em 1em;
}

/* override scrollspy defaults */
.section {
  padding: 0;
}

.table-of-contents a {
  padding: inherit;
  height: inherit;
}

.table-of-contents a.active, .navbar-wrapper ul li a:hover {
  font-weight: inherit;
  border-left: inherit;
  border-bottom: solid #0d47a1;
  opacity: 1;
  padding: inherit;
  height: inherit;
}

.navbar-wrapper ul li a:hover {
  border: none;
  font-weight: 400;
}

/*Fixed Contact-icons styling*/
.contact-top{
  margin-top: 0;
  top: -1%;
  left: 77%;
  position: fixed;
  height: 3em;
  width: 3em;
  z-index: 9999;
}

#contact-one{
  padding-top: .75em;
}

#contact-style{
  height: 0;
  width: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-top: 1em solid #1565c0;
}

.contact-top a:hover{
  opacity: .7;
  background-color: transparent;
}

.icon-fix a:hover{
  background-color: transparent;
}

/*Reset Materialize Margin Rules*/

h4, h5.portf {
  margin: 0;
  text-transform: uppercase;
}

h5{
  padding-top: .5em;
}

.margin-reset{
  margin: 0;
  padding: 0;
}

.container .row {
  margin: 0;
}

.nav-bar{
  padding: .5em 2em;
}

#scroll-up{
  display: none;
  position: fixed;
  top: 87%;
  left: 88%;
  z-index: 9999;
}

.btn-floating.btn-large i{
  vertical-align: bottom;
}

/*About Section*/
#about{
  padding: 16em 4.5em 2em;
}

.about-text{
  padding: .5em 0;
}

.more a{
  margin: .4em 1em;
}

.hidden{
  display: none;
}

/*Portfolio*/
#portfolio{
  padding-top: 2em;
}

.card-action{
  font-weight: bold;
}

.card{
   text-align: left;
}

.center-card {
  margin: 0 auto;
}

/*Contact Section*/
.contact-email{
  font-weight: bold;
}

.contact-icons li{
  display: inline;
  padding: 1em;
}

/*Footer*/
footer{
  text-align: left;
}

.name-header{
  padding-left: 2.5em;
}

.updated-on {
  padding-left: 4.2em;
}

/*Media Query to remove gutters on mobile
and center/stack cards on small screens*/
@media only screen and (max-width: 750px){
  .container{
    width: 100%;
  }

  #scroll-up{
    top: 85%;
    left: 78%;
  }

  .row{
    padding: .5em;
  }

  h4{
    padding-top: .5em;
  }
}

@media only screen and (min-width: 691px) and (max-width: 992px) {
  /* navbar resets*/
  .top-header.shrink div > div.navbar-wrapper ul {
    float: right;
  }

  .navbar-wrapper ul li{
    padding: .5em .8em;
  }
  /*.row .col.l4 {
    width: 33.33333%;
  }*/

}

@media only screen and (max-width: 751px) {
  /* about section */
  #about {
    padding: 14em 4.5em 2em;
  }
  /* contact */
  #contact {
    margin-top: .8em;
  }

  .contact-icons {
    padding-bottom: .5em;
  }

}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .row .col.m6 {
    width: 45%;
  }
}

@media only screen and (max-width: 571px){
  /* navbar resets*/
  h3{
    font-size: 2rem;
  }

  div.navbar-wrapper ul {
    margin:0;
  }

  /* about section */
  #about {
    padding: 12em 4.5em 2em;
  }
  
  /* portfolio */
  .row .col.s12{
    padding: 1em 4em;
  }
}

@media only screen and (max-width: 508px){
  /* navbar resets*/
  .navbar-wrapper ul li{
    padding: .5em;
  }

  /*footer*/
  .name-header{
    padding-left: 1.5em;
  }

  .updated-on {
    padding-left: 2.4em;
  }

}

@media only screen and (max-width: 424px){
  /* navbar resets*/
  .nav-bar{
    padding: 0;
  }

  h3{
    font-size: 1.5rem;
    margin: 1em 0 .3em;
  }

  .navbar-wrapper ul li{
    padding: .4em;
  }

  /*about section*/
  #about{
    padding: 8.8em 1.9em 2em;
  }

  /* portfolio */
  .row .col.s12{
    padding: 1em 3em;
  }

}

@media only screen and (max-width: 410px){
  /* navbar resets*/
  .navbar-wrapper ul li{
    font-size: .9em;
  }
}