/*/////////////////////////*/
/*    TABLE OF CONTENTS    */
/*/////////////////////////*/

/*Global Styles: 16-24 */
/*Navigation Styling: 25-54*/
/*Fixed-icons Styling: 55-86*/
/*Materialize Margin resets: 87-120 */
/*About Section: 121-133*/
/*Portfolio: 134-150*/
/*Media Queries (portfolio): 151-162*/
/*Contact Section: 163-172*/
/*Footer Section: 173-185*/
/*Media Queries (navigation): 186-192*/

/*Global Styles*/
body{
  text-align: center;
}

a:hover{
  opacity: .7;
}

/*Navigation Styling*/

nav h3{
  text-align: center;
  position: static;
  margin-top: 0;
  padding: 1.5em;
}

.nav-bar li a{
  text-align: center;
  display: inline;
  text-transform: uppercase;
  font-size: 1.3em;
}

.nav-bar a:hover{
  background-color:#1565c0;
  opacity: 1;
}

#nav-mobile li{
  display: inline;
  padding: .5em 1em;
}

#nav-mobile li a, .side-nav li a{
  padding: .5em;
}

/*Fixed Contact-icons styling*/
.contact-top{
  margin-top: 0;
  top: -1%;
  left: 77%;
  position: fixed;
  height: 3em;
  width: 3em;
  z-index: 9999;
}

#contact-one{
  padding-top: .75em;
}

#contact-style{
  height: 0;
  width: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-top: 1em solid #1565c0;
}

.contact-top a:hover{
  opacity: .7;
  background-color: transparent;
}

.icon-fix a:hover{
  background-color: transparent;
}

/*Reset Materialize Margin Rules*/
.row {
  margin: 0;
  padding: 2em;
}

.top-header{
  padding: 1em;
}

h4{
  margin: 0;
  text-transform: uppercase;
}

.margin-reset{
  margin: 0;
  padding: 0;
}

.container .row {
  margin: 0;
}

.nav-bar{
  padding: .5em 2em;
}

#scroll-up{
  position: fixed;
  top: 87%;
  left: 88%;
}

/*About Section*/
#about-section{
  padding: 2em 4.5em;
}

.more a{
  margin: .4em 1em;
}

.hidden{
  display: none;
}

/*Portfolio*/
.card-action{
  font-weight: bold;
}

.card{
   text-align: left;
}

#bug{
  margin-right: 1em;
}

#wine{
  margin-left: 1em;
}

/*Media Query to remove gutters on mobile
and center/stack cards on small screens*/
@media only screen and (max-width: 750px){
  .container{
    width: 100%;
  }

  #bug, #wine{
    margin: 3em 0 auto;
  }
}

/*Contact Section*/
.contact-email{
  font-weight: bold;
}

.contact-icons li{
  display: inline;
  padding: 1em;
}

/*Footer*/
footer{
  text-align: left;
}

#name-header{
  padding-left: 2.5em;
}

#updated-on{
  padding-left: 4.2em;
}

/*Hide Hamburger Menu icon on larger screens*/
@media only screen and (min-width: 990px){
  .button-collapse{
    display: none;
  }
}
